#notDevoured {
	border: 2px solid blue;
	height: 300px;
	width: 300px;
	margin-left: 50px;
}

#addBurger {
	margin: auto;
	width: 200px;
	position: relative;
	top: 100px;
}

#devoured {
	float: right;
	position: relative;
	top: 50px;
	border: 2px solid blue;
	width: 300px;
	margin-right: 50px;
}